$body:#F2F2F2;
$bodyLt:rgba(255, 254, 254, 0.356);
$zero: 0 !important;
$cardBackground: #FFFFFF;
$defaultFontColor: black;
$defaultFontSize: 16px;
$defaultPadding: 1rem;
$defaultMargin: 1rem;
$defaultBorderRadius: 8px;
$casesColor: #828282;
$casesDeaths: #EB5757;
$casesRecovered: #27AE60;
$casesPerMil: #9B51E0;
$width4k: 2560px;
$widthLaptopLg: 1440px;
$widthLaptop: 1024px;
$widthTablet: 768px;
$widthMobileLg: 600px;
$widthMobileMd: 375px;
$widthMobileSm: 320px;