@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.footer {
  display: flex;
  padding: 1rem 5rem;
  justify-content: space-between;
  background: black;
  color: white;
  align-items: center;
  border-top: 0.3px solid lightgray;

  a {
    margin-right: 8px;

    &:last-child {
      margin-right: 0;
    }
  }

  svg {
    color: white;
    width: 1.6em;
    height: 1.6em;
  }
}

@include mQ($widthMobileLg) {
  .footer {
    padding: 1rem 1.5rem;
    font-size: 0.875rem;
  }
}