@import './styles/variables.scss';
@import './styles/mixins.scss';

.App {
    font-size: 16px;
    color: #ffff;
    width: 100%;
    background: black;
    $padding: 2rem;

    .page {
        height: 100vh;
        overflow: hidden;
        text-align: center;
        width: 100%;
        box-sizing: border-box;
        padding: $padding;
    }

    .navbar {
        padding: $padding;
    }

    .page-title {
        font-weight: 900;
        margin-bottom: 2rem;
        position: relative;
        display: inline-block;
        text-align: center;

        &::after {
            content: '';
            position: absolute;
            width: 75%;
            left: 50%;
            bottom: -0.75rem;
            height: 2px;
            background: lightgray;
            transform: translateX(-50%)
        }
    }
}

@include mQ($widthMobileLg) {
    .App {
        $padding: 1.5rem;

        .navbar {
            padding: $padding;
        }

        .page {
            padding: $padding;
        }
    }
}

@include mQ($widthTablet) {
    .page {
        &.fit-content {
            height: fit-content !important;
        }
    }
}