.App {
    font-size: 16px;
    color: #ffff;

    .page {
        height: 100vh;
        overflow: hidden;
        text-align: center;
    }

    .page-title {
        font-weight: 900;
        margin-bottom: 2rem;
        position: relative;
        display: inline-block;
        text-align: center;

        &::after {
            content: '';
            position: absolute;
            width: 75%;
            left: 50%;
            bottom: -0.75rem;
            height: 2px;
            background: lightgray;
            transform: translateX(-50%)
        }
    }
}
